.topics-page-container {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.topics-container {
    padding-top: 2rem;
    height: calc(100vh - 2rem);
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.topics-grid {
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 25vh 25vh 25vh 25vh;
    gap: 10vh;
    margin-top: 2rem;
}

.topic-grid-item, .add-topic {
    border: 0.1rem solid rgba(58, 58, 128, 0.8); /* Adjusted border color to match the scheme */
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    position: relative;
    aspect-ratio: 1;
    height: 25vh;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 70, 140, 0.9);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.topic-grid-item:hover, .add-topic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5vw rgba(100, 100, 180, 0.5);
}

.plus-icon {
    font-size: 4rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 30vw;
    background: radial-gradient(circle at center, rgba(45, 45, 90, 0.95) 0%, rgba(30, 30, 60, 0.95) 70%, rgba(15, 15, 30, 0.95) 100%);
    padding: 4vh;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Adding a shadow for depth */
    z-index: 100;
    animation: slideCenter 0.5s forwards;
}

.dialog-t button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(58, 58, 128, 0.8);
    color: white;
    transition: background-color 0.3s;
    width: 100%;
}

.dialog-t button:hover {
    background-color: rgba(80, 80, 160, 0.9);
}

.dialog-t input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 28vw; /* Set the width same as buttons */
    padding: 1vh 1vw; /* Adjust for comfortable padding */
    border: 1px solid rgba(58, 58, 128, 0.8); /* Border color */
    border-radius: 0.5vw; /* Rounded corners */
    background-color: rgba(45, 45, 90, 0.95); /* Background color */
    color: #E0E0FF; /* Text color */
    font-size: 1.8vh; /* Font size */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for border and shadow */

    /* Placeholder styling */
    ::placeholder {
        color: rgba(224, 224, 255, 0.7); /* Lighter text color for placeholder */
    }

    /* Focus styling */
    :focus {
        border-color: rgba(80, 80, 160, 0.9); /* Change border color on focus */
        box-shadow: 0 0 0.5vw rgba(80, 80, 160, 0.5); /* Add a subtle shadow on focus */
        outline: none; /* Remove default browser outline */
    }
}


.headert {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This will vertically center the children */
    margin-left: 5rem;
    margin-right: 2.5rem;
    padding-left: 10.5rem;
    padding-right: 11rem;
}

h2 {
    text-align: center;
}

.topic-grid-item select {
    width: 150px;
    text-align: center;
    background-color: #3a3a80cc;
    color: #E0E0FF; /* Text color */
    border: none; 
    border-radius: 0.5vw;
}

.topic-grid-item select option {
    text-align: center; 
}

.dropdown-container select {
    font-size: 1.2em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
}