.view-goals-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at center, rgba(45, 45, 90, 0.95) 0%, rgba(30, 30, 60, 0.95) 70%, rgba(15, 15, 30, 0.95) 100%);
    padding: 5vh;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 80%;
    max-width: 600px;
    overflow: auto;
    animation: slideCenter 0.5s forwards;
}

.view-goals-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-goals-dialog h3 {
    font-size: 4vh;
    color: white;
    margin-bottom: 3vh;
    margin-top: 0vh;
}

.view-goals-dialog table {
    width: 100%;
    border-collapse: collapse;
}

.view-goals-dialog th,
.view-goals-dialog td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: white;
}

.view-goals-dialog th {
    background-color: rgba(70, 70, 140, 0.9);
}

.view-goals-dialog button {
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.table-scrollable {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

button {
    margin-bottom: 0vh;
}
